.panel.panel-primary
  .panel-heading
    %h3.panel-title
      ="#{l version.created_at, format: :custom}"
  .panel-body
    %strong
      = "#{whodunnit version.whodunnit.to_i}"
    = " #{event version.event} #{item_type version.item_type}"
    = " with serial number "
    %strong
      = link_to("#{Asset.find_by_id(version.item_id).serial_no}", assets_path) if version.item_type == "Asset"
    = "#{version.metadata}.".html_safe

