.panel.panel-primary
  .panel-heading
    %h3.panel-title
      ="#{l version.created_at, format: :custom}"
  .panel-body
    = image_tag(get_image_from(User.find_by_id(version.whodunnit.to_i)), class: "small-image")
    %strong
      = "#{whodunnit version.whodunnit.to_i}"
    = " #{event version.event} #{item_type version.item_type}"
    = " with serial number "
    %strong
      - if version.item_type == "Device"
        - if @showing
          = "#{Device.find_by_id(version.item_id).serial_no}"
        - else
          = link_to("#{Device.find_by_id(version.item_id).serial_no}", device_path(version.item_id))
    = "#{version.metadata}.".html_safe

